##
## Needed for sql-stuff in R.
##

[eschofield_canvasdb]
user = eschofield
password = letmein
host     = localhost
database = eschofield_canvasdb

[eschofield_canvasdb_annot_cf3]
user = eschofield
password = letmein
host     = localhost
database = eschofield_canvasdb_annot_cf3
